*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(166, 118, 180);
}

/*#encabezado{
    margin: 1em auto;
    padding: 1em;
    background-color: rgb(130, 75, 140);
    border-radius: .8em;
}

#pie{
    margin: 1em auto;
    padding: 1em;
    width: min( 45em, 100% );
    background-color: rgb(109, 78, 184);
    border-radius: .8em;
}

#pie h3{
    text-align: center;
    color: whitesmoke;
}

#encabezado h1{
    text-align: center;
    color: whitesmoke;
}

#cont-principal{
    background-color: rgb(113, 93, 156);
    width: min( 70em, 100% );
    margin: 1em auto;
    border-radius: .8em;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.6);
}

#campo-v{
    display: flex;
    width: 100%;
    margin-top: 0.4em;
}

.input-texto {
    height: 2em;
    width: 100%;
    border: none;
    border-radius: .3em;
    padding-left: 0.3em;
}

.campo{
    margin: 1em 2em 0 2em;
}

.campo h1{
    text-align: center;
    color: whitesmoke;
    padding-top: 0.5em;
    margin-bottom: 1em;
}

.texto {
    font-size: 1em;
    color: black;
    background-color: whitesmoke;
    height: 1.5em;
    width: 14em;
    border: 1px solid black;
    border-radius: .3em;
    padding: 4px;
    padding-left: 0.3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.boton{
    background-color: rgb(106, 38, 165);
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: .6em;
    border-radius: .2em;
}

.boton:hover{
    background-color: rgb(144, 94, 190);
    cursor: pointer;
    color: rgb(26, 23, 23);
}

#campo-resultado{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#campo-resultado select{
    background-color: rgb(204, 199, 220);
    text-decoration: none;
    border: none;
    font-size: 1em;
    font-weight: bold;
    color: black;
    padding: .6em;
    border-radius: .2em;
    margin: 1em 0 2em 2em;
}

#cont-porcentajes{
    padding-bottom: 1em;
    text-align: center;
}

.cont-por{
    color: whitesmoke;
    font-size: 1em;
}*/

.encabezado{
    padding: 20px;
    display: flex;
    background-color: lightgreen;
}

.contenido{
    background-color: aliceblue;
}

.datosPedidos{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

.registrosRealizados{
    flex-flow: row wrap;
    padding: 10px;
}

.registrosRealizados h2{
    text-align: center;
}

.registrosRealizados2{
    display: flex;
    background-color: lightgreen;
    padding: 3%;
}

.totales{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

.piePag{
    padding: 20px;
    display: flex;
    color: white;
    background-color: green;
    text-align: center;
}

@media screen and (max-width: 700px){
    .contenido, .datosPedidos, .totales{
        display: flex;
        flex-flow: column wrap;
    }

    .encabezado{
        text-align: center;
    }

    .registrosRealizados{
        width: 100%;
        padding: 0;
    }
}